@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F4EDE4;
  color: #3E3C3A;
  scroll-behavior: smooth;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
